<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970774924695-uok8gc915t27imnl6uabqg023rr2a7cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970774924695-uok8gc915t27imnl6uabqg023rr2a7cj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6gqs4Kaoiea3MTN8w8Pu9OTJsN-K7kco</string>
	<key>GCM_SENDER_ID</key>
	<string>970774924695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>philipteow.PhysioApp</string>
	<key>PROJECT_ID</key>
	<string>physioapp-93910</string>
	<key>STORAGE_BUCKET</key>
	<string>physioapp-93910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970774924695:ios:19c35a38ce433920</string>
	<key>DATABASE_URL</key>
	<string>https://physioapp-93910.firebaseio.com</string>
</dict>
</plist>